*
!.gitignore
!docs
!config
!workflow
!workflow/scripts
!workflow/envs
!workflow/rules
!config/*
!workflow/*
!pipeline_env.yaml
!README.md
!workflow/scripts/*
!workflow/scripts/threeputrs/*
!workflow/scripts/alignment/*
!workflow/scripts/bam2bakR/*
!workflow/scripts/flatten/*
!workflow/scripts/preprocess/*
!workflow/scripts/rsem/*
!workflow/scripts/rsem_plus/*
!workflow/envs/*
!workflow/rules/*
!docs/*
!mkdocs.yml
!.readthedocs.yaml
!docs/images
!docs/images/*
!.snakemake-workflow-catalog.yml
!.test/data/*
!.test/
!.test/threeputr_tests.smk
!.test/scripts/
!.test/scripts/test_annotate_3pgtf.R
!.test/scripts/check_threeputr_output.R
!.test/config_ChIP/*
!.test/config_PROseq/*
!.github/*
